@import "tailwindcss";

@theme {
  --font-serif: "Instrument Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
}

:root {
  font-family: var(--font-mono);
  color: #0a0a0a;
  background-color: #e8e8e8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
}
